*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navber{
    position:fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    margin: 0px;
    height: 100px;

}
.box{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    /* margin-top: 40px; */
    
}

.central{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
}
.centralTow{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 20px; */
}
.radio{
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.text{
    margin-top: 10px;
    border: 1px solid rgb(229, 228, 228);
}
.zhong{
    width: 75%;
    height: 100%;

}
.select{
    width: 100%;
    height: 100%;
    border:0px solid rgb(252, 251, 251);
    border-radius: 5px;
}
.cell{
    width: 75%;
}
.texeat{
    width: 50%;
}
.centrala{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
