.boxs {
	width: 100vw;
	height: 93vh;
	background-color: #f4f4f4;
}

.box {
	width: 100vw;
	height: 100vh;
	background-color: #f4f4f4;
}

.title {
	border: 1px rgb(220, 215, 215) solid;
	background-color: white;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.7);
}

.content {
	width: 90vw;
	margin: 2vh auto;
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	color: black;
}

.contentOne {
	margin: 2vh 5vw;
}

.contentTwo {
	margin: 2vh 5vw;
}

.contentThree {
	margin: 2vh 5vw;
	display: flex;
	justify-content: space-between;
}

/* 签到 未签到 */
.contentThree1 span {
	color: red;
}

.contentThree12 span {
	color: #0099ff;
}

/* 默认都是未签到 */
.contentThree2 {
	width: 15vw;
	background-color: #0099ff;
	color: white;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}

.contentThree22 {
	width: 15vw;
	background-color: white;
	border: 1px #0099ff solid;
	color: #0099ff;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}


.tabbar {
	display: flex;
	/* justify-content: space-between; */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: white;
	/* border-top: 1px  #0099ff solid; */
	z-index: 999;
}

.tabbar div {
	width: 25%;
	border-radius: 5px;
	text-align: center;
	border: #f4f4f4 solid 1px;
}

.tabbars {
	border: #0099ff solid 1px;
	color: #0099ff;
	font-weight: 600;
}

.tabTwo {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tabThree {
	width: 90%;
	margin: 2vh auto;
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
}

.week {
	font-weight: 600;
	margin: 2vh 5vw;
}

.weeks {
	display: flex;
	justify-content: space-between;
	margin: 2vh 5vw;
}

.weekThree {
	color: #0099ff;
	border: #0099ff solid 1px;
}

.tabOne {
	width: 90%;
	margin: 2vh auto;
	border-radius: 5px;
	overflow: hidden;
	p {
		margin-top: 2vh;
		span {
			margin-left: 50vw;
		}
	}
	p:nth-child(1),p:nth-child(2) {
		font-weight: 700;
	}
	div:nth-child(7) {
		background-color: #0099ff;
		color: white;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		text-align: center;
		line-height: 100px;
		margin: 15vh auto;
		font-size: large;

	}
	div:nth-child(8) {
		text-align: center;
		margin-top: -10vh;
		font-size: large;
	}
}




.tabFour {
	width: 90%;
	margin: 2vh auto;
	background-color: white;
	border-radius: 5px;
	overflow: hidden;

	div:nth-child(1) {
		margin-top: 2vh;
		margin-left: 5vw;
	}

	div:nth-child(2) {
		/* border: #0099ff solid 1px; */
		display: flex;
		justify-content: space-between;
		margin-bottom: 2vh;

		div:nth-child(2) {
			margin-right: 5vw;
		}
	}
}

.fontColorRed {
	color: red;
}

.fontColorBlue {
	color: #0099ff;
}


/* .tabFourButtom {


	border-radius: 50%;
} */
.tabFourButtom svg {
	box-shadow: 0px 0px 15px #a1a1a1;
	border-radius: 50%;
	position: fixed;
	bottom: 10vh;
	right: 5vw;
}

.addinput {
	width: 100vw;
	height: 8vh;
	line-height: 8vh;
	background-color: white;
	/* border: #0099ff solid 1px; */
	overflow: hidden;
	padding-bottom: 1vh;
	border-top: rgba(0, 0, 0, 0.2) solid 1px;
	border-bottom: rgba(0, 0, 0, 0.2) solid 1px;

	div {
		margin-left: 1vw;
		margin-top: 1vh;
	}
}

.addend {
	width: 100vw;
	display: flex;
	/* margin-left: 5vw; */
	padding: 2vh 5vw;
	background-color: white;
}

.addsubmit {
	width: 90vw;
	height: 7vh;
	line-height: 7vh;
	text-align: center;
	margin: auto;
	position: absolute;
	bottom: 8vh;
	left: 5vw;
	border-radius: 5px;
	color: white;
	background-color: #0099ff;
	cursor: pointer;
}